.cover-page-img {
  width: 100%;
  margin-bottom: 40px;
}
.text-movie {
  font-size: 20px;
}
.img-poster {
  float: left;
  width: 202px;
  padding-right: 23px;
}
.img-movie {
  width: 100%;
  object-fit: contain;
  height: 400px;
  margin-bottom: 20px;
}