<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{movie.original_title}}</h1>
    </div>
    <div class="col-12">
      <img class="cover-page-img" *ngIf="pathImagen && movie.backdrop_path" [src]="pathImagen + movie.backdrop_path" alt="portada">
    </div>
    <div class="col-12">
      <img class="img-poster" *ngIf="pathImagen && movie.poster_path" [src]="pathImagen + movie.poster_path" alt="portada">
      <p class="text-movie">{{movie.overview}}</p>
    </div>
    <div class="col-12 m-top-40">
      <h1>Reparto</h1>
    </div>
    <div class="container" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="row">
      <div class="col-6 col-md-3" *ngFor="let actor of actors; let i = index" [hidden]="!actor.profile_path">
        <a>
          <img class="img-movie" [src]="pathImagen + actor.profile_path" alt="movie">
        </a>
        <p class="text-center">{{actor.original_name}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
