<div class="container-fluid padd-0">
  <h1>Películas en estreno</h1>
  <div class="container-carousel">
    <ngx-light-carousel  [options]="options"  [data]="slides">
      <section  ngx-light-carousel-container>
        <article  ngx-light-carousel-item  *ngFor="let slide of slides; let i = index">
          <div class="slide w-100">
              <a [href]="slide.url">
                  <img class="img-movie-slide" [src]="pathImagen + slide.poster_path">
              </a>
          </div>
       </article>
       <ng-template  #infiniteContainer></ng-template> 
      </section>
      
      <ng-template #carouselContent let-slide let-i="index">
      <article>
              <div class="slide w-100">
                  <a [href]="slide.url">
                      <img class="img-movie-slide" [src]="pathImagen + slide.poster_path">
                  </a>
              </div>
      </article>
      </ng-template>
      
      <ng-template  #carouselPrev>
        <div  class="click-area">
        </div>
      </ng-template>
    
      <ng-template  #carouselNext>
        <div  class="click-area">
        </div>
      </ng-template>
      
      <ng-template  #carouselDot  let-model>
        <div class="ball bg-accent">
        </div>
      </ng-template>
    </ngx-light-carousel>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Películas más populares</h1>
      </div>
      <div class="col-6 col-md-3" *ngFor="let movie of movies; let i = index">
        <img class="img-movie" [src]="movie.poster_path" alt="movie">
      </div>
    </div>
  </div>
</div>